* {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}
  
body {
padding: 0;
margin: 0;
}

.calculatorframe {
display: grid;
justify-content: center;
align-content: center;
min-height: 100vh;
grid-template-columns: repeat(4, 100px);
grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calculatorframe button {
cursor: pointer;
font-size: 2rem;
border: 1px solid white;
outline: none;
border: 1px black solid;
box-shadow: 0px 2px 5px 0px black;
}

.calculatorframe button:hover {background-color: rgba(163, 161, 161, 0.9);}
.calculatorframe button:active {opacity: 60%; border: 2px solid black;}


.two {
grid-column: span 2;
}

.screen {
grid-column: 1 / -1;
background-color: rgba(20, 20, 20, 0.9);
display: flex;
align-items: flex-end;
justify-content: space-around;
flex-direction: column;
padding: 10px;
word-wrap: break-word;
word-break: break-all;
filter: blur(.2px);
gap: 5px;
}

.screen .previous {
color: rgba(255, 255, 255, .75);
font-size: 1rem;
}

.screen .current {
color: white;
font-size: 2.5rem;
}

.number .decimal {background-color: rgba(255, 255, 255, .6);}
.operator {background-color: rgb(248, 210, 210);}
.equals {background-color: rgb(248, 210, 210);}
.janitor {background-color: rgb(248, 210, 210);}

[data-state ="selected"]{background: rgb(182, 119, 119);}
.current {position: absolute; bottom: 10px; }
.previous {position: absolute; top: 20px}

